@media only screen and (max-width: 1400px){
	.cs-container, .container-3 { max-width: 85%!important;}
	.home .sec-2 .list-hldr { max-width: 90%!important;}
	/*FONTS 1st changes*/
	.home .sec-1 .hero h3{ font-size: 40px!important;}
	.home .sec-1 .hero h4 { font-size: 25px!important; line-height: 25px!important;}
	.about .sec-2 .hldr h3, .about .sec-2 .btm h3 { font-size: 35px!important;}
	.quote h4 { font-size: 25px!important;}
	.about .sec-2 .hldr p, .about .sec-2 .btm p, .about .sec-4 .hldr p, .about .sec-6 .hldr p {font-size: 20px!important; line-height: 30px!important;}
	.team .sec-2 .hldr-top h3, .careers .sec-2 .hldr h3 span { font-size: 50px!important;}
	.team .sec-2 .hldr-top p { max-width: 60%!important;}


	/*END OF FONTS 1st changes*/

	/*SECTION PADDING*/
	.home .sec-3, .home .sec-4, .home .sec-5, .home .sec-7, .home .sec-7, .about .sec-2, .about .sec-3 .top-part, .about .sec-4, .about .sec-6, .home .sec-2, .news-events-inner .sec-1, .team .sec-2, .team-inner, .contact-us .sec-1, .careers .sec-2, .careers-inner .sec-1, .buyers-guide .sec-2 { padding: 50px 0px!important;}
	/*END OF SECTION PADDING*/

	/*title margin*/
	.home .sec-4 .sec-title { margin-bottom: 10px!important;}
	.home .sec-4 .sec-title + p { font-size: 20px!important;}
	.home .sec-5 .hldr h3 { margin-bottom: 10px!important;	}
	/*END OF title margin*/


	.home .sec-4 .hldr { max-width: 100%!important;}
	.team .sec-2 .hldr-top { margin-bottom: 50px!important;}

	.team .sec-2 .hldr-top ul { max-width: 80%!important;}
}


@media only screen and (max-width: 1200px){
	.cs-container, .container-3 { max-width: 90%!important;}
	.mini-pad {padding: 0px 20px!important;}
	.home .sec-3 .hldr .main-list > li .parent article h4 { font-size: 25px!important;}
	.home .sec-3 .hldr .main-list > li .parent aside  {width: 90px!important;}
	.home .sec-3 .hldr .main-list > li .parent article { width: calc(100% - 90px)!important;}
	.links .hldr .left, .links .hldr .right { max-width: 50%!important;}
	.links .hldr .cmn-class h5 a { font-size: 15px!important;}
	.inner-wrap { max-width: 100%!important;}
	.ne-list-sec .body, .ne-list-sec .btm, .articles-sec .body, .promos-sec .body { padding: 30px 20px!important;}
	.ne-list-sec .btm .news-events-carousel { padding: 0px 30px!important;}

	.team .sec-2 .hldr-top ul { max-width: 85%!important;}

	.team .sec-2 .hldr-top h3, .careers .sec-2 .hldr h3 span, .contact-us .sec-1 .contact-top h3 { font-size: 40px!important;}
	
	.team .sec-2 .steps .body .main-list > li > ul > li, .team .sec-2 .steps .body .main-list > li p, .team .sec-2 .steps .body .appli-hldr h4, .buyers-guide .sec-2 .hldr > ul > li .parent article p, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr p { font-size: 20px!important;}

	.team .sec-2 .steps .body .main-list > li h4 { line-height: 28px!important;}

	.team .sec-2 .hldr-top p, .team .sec-2 .steps .body .main-list > li h4, .team .sec-2 .steps .body .appli-hldr h4, .team .sec-2 .steps .body .appli-hldr p, .team-inner .form-gray .form-sec .form-body .form-main-list li .parent.checkbox-hldr .children label, .accord .acc-title .title-center h4 { font-size: 20px!important;}

	.form-gray .form-sec .form-title h4 { font-size: 20px!important;}
	.form-gray .form-sec .form-btm .hldr { max-width: 80%!important;}
	.careers .sec-2 .hldr .career-list li{ width: 33.3%!important;}

	.careers .sec-2 .hldr .form-career .pos-hldr{ max-width: 100%!important;}
	.buyers-guide .sec-2 .hldr > ul > li { padding: 50px 0px!important;}
	.buyers-guide .sec-2 .hldr .ready-move .hldr { max-width: 80%!important;}


}


@media only screen and (max-width: 999px){

	/*FONTS- change*/
	.about .sec-2 .hldr h3, .about .sec-2 .btm h3 {font-size: 30px!important;}
	.about .sec-2 .hldr p, .about .sec-2 .btm p, .about .sec-4 .hldr p, .about .sec-6 .hldr p {font-size: 17px!important; line-height: 27px!important;}
	.quote h4 { font-size: 20px!important; line-height: 30px!important;}
	.about .sec-3 .slider-for .item .hldr article .block h4  {font-size: 50px!important}
	/*END OF FONTS- change*/
	
	.cs-container, .container-3 { max-width: 100%!important; padding: 0px 30px!important;}
	header {     box-shadow: 0px 2px 5px #d5d5d5; }
	header .hldr article ul li { display: none;}
	header .hldr article ul li:first-child, header .hldr article ul li:nth-child(2) { display: block;}
	header .hldr article ul li img { width: 30px!important; height: 30px!important;}
	header .hldr article { top: 10px!important; transform: translate(0, 0)!important;}
	.burger { display: block!important;}

	header .nav-list { position: fixed!important; width: 100%!important; height: 100%!important; z-index: 99!important; top: 0!important; padding: 60px 60px!important; transform: translate(-110%, 0); transition: 0.5s ease-in-out;}
	header .nav-list ul li { width: 100%!important; border-right: 0px!important; margin-bottom: 5px;  opacity: 0;}
	header .nav-list ul li a { padding: 15px 10px!important;}

	.nav-list  .cs-container  { padding: 0px!important;}
	header .nav-list .close- { display: block!important;}
	header .hldr aside { max-width: 185px!important;}
	.home .sec-1 aside, .about .sec-1 aside, .team .sec-1 aside, .buyers-guide .sec-1 aside { height: calc(100vh - 74px)!important;}
	/*.mini-pad {padding: 0px 0px!important;}*/
	.prop-finder .btm .main-list > li:first-child { width: 100%!important; padding-right: 0px!important; margin-bottom: 15px;} 
	.prop-finder .btm .main-list  { justify-content: center!important;}
	.home .sec-3 .hldr .main-list > li .parent article { width: 100%!important; padding-left: 0px!important;}
	.home .sec-3 .hldr .main-list > li .parent aside  { width: 100%!important;}
	.home .sec-3 .hldr .main-list > li .parent aside img { display: block; margin: 0 auto 15px!important;}
	.home .sec-3 .hldr .main-list > li .parent article h4 { text-align: center!important;}
	.home .sec-4 .hldr article { width: 100%!important; padding-top: 40px!important;}
	.home .sec-4 .hldr aside { margin:  0 auto!important;}
	.home .sec-4 .hldr aside span { display: none!important; }
	.home .sec-4 .hldr article ul li { width: 50%!important;}
	.home .sec-4 .hldr article ul li:nth-child(odd) { padding-right: 15px;}
	.home .sec-4 .hldr article ul li:nth-child(even) { padding-left: 15px;}
	.home .sec-4 .hldr article ul { display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: center;  flex-wrap: wrap; }
	.home .sec-4 .hldr article ul li .cmn-class::after { display: none!important;}
	.home .sec-4 .hldr article ul li .cmn-class h6 { max-width: 100%!important;}

	.home .sec-5 .hldr .main-list { max-width: 100%!important; min-width: auto!important;}
	.home .sec-5 .hldr .main-list li { width: 50%!important;}
	.home .sec-5 .hldr .main-list li .box { margin: 0 auto; max-width: 210px; width: 100%;}

	.home .sec-7 .testi-carousel .item { height: auto!important;}
	.home .sec-7 .testi-carousel .item .hldr  {width: 100%!important;}
	.home .sec-7 .testi-carousel .owl-stage {display: block!important;}
	.home .sec-7 .testi-carousel .item .hldr article p { width: 100%;}
	.home .sec-7 .testi-carousel .item .hldr .new { position: relative!important;}
	.home .sec-7 .testi-carousel .item .hldr article { padding: 20px 25px!important;}

	footer .footer-wrap, .wrapper { max-width: 100%!important; padding: 0px 30px!important;}
	footer .footer-wrap { min-width: auto!important}
	footer .hldr .btm .main-list > li:first-child { width: 100%!important; border-right: 0px!important; padding-right: 0px!important; margin-bottom: 20px;}
	footer .hldr .btm .main-list > li:first-child img { margin: 0 auto 15px!important; display: block}
	footer .hldr .btm .main-list > li:first-child p { text-align: center!important;}
	footer .hldr .top { margin-bottom: 40px!important;}
	footer .hldr .btm .main-list > li:nth-child(2), footer .hldr .btm .main-list > li:nth-child(3), footer .hldr .btm .main-list > li:last-child { width: 33.3%!important;}
	footer .hldr .btm .main-list > li:last-child { padding-left: 20px!important;}

	.about .sec-2 .hldr p, .about .sec-4 .hldr p, .about .sec-6 .hldr p { margin-bottom: 20px!important;}
	.about .sec-3 .slider-for .item .hldr aside { width: 100%!important; padding-left: 0px!important;}
	.about .sec-3 .slider-for .item .hldr article { width: 100%!important;}

	.about .sec-3 .slider-for .item .hldr aside .img-hldr { padding: 15px!important; height: 450px;}
	.about .sec-3 .slider-for .item .hldr aside .img-hldr img { height: 100%; object-fit: cover;}
	.about .sec-3 .slider-nav .slick-list { max-width: 100%!important; padding: 0px 30px!important;}

	.about .sec-2 .btm { margin-top: 20px!important; padding-top: 20px!important; border-top: 2px solid #b1b1b2;}
	.about .sec-2 .btm::after {display: none!important;}
	.home .sec-4 .hldr article ul li .cmn-class { max-width: 100%!important;}

	.home .sec-2.animated .hldr .list-hldr { max-width: 100%!important;}

	.home .sec-4 .hldr article ul li .text-hldr { max-width: 100%!important;}

	.ne-list-sec .body .masonry > li:nth-child(1), .ne-list-sec .body .masonry > li:nth-child(2), .ne-list-sec .body .masonry > li:nth-child(3) { width: 100%!important; padding-left: 0px!important; padding-right: 0px!important;}

	.ne-list-sec .body .masonry > li:nth-child(2) { position: relative!important; left: 0!important; transform: translate(0, 0)!important;}
	.ne-list-sec .body .masonry > li:nth-child(1)::after, .ne-list-sec .body .masonry > li:nth-child(3)::after { display: none!important;}

	.ne-list-sec .body .masonry > li {  padding-top: 0px!important;  padding-bottom: 30px!important; border-bottom: 2px solid #bdbebf!important; margin-bottom: 30px!important; }
	.ne-list-sec .body .masonry > li .item:nth-of-type(2) { padding-top: 30px!important; padding-top: 30px!important;}

	.ne-list-sec .body .masonry > li:last-child { padding-bottom: 0px!important; margin-bottom: 0px!important; border-bottom: 0px!important;}

	.ne-list-sec .top, .articles-sec .top, .promos-sec .top { padding: 15px 0px!important;}

	.news-events .sec-1.animated .ne-list-sec .body .masonry > li:nth-child(2) {     animation: fade-up 1s ease-in-out forwards!important; -webkit-animation: fade-up 1s ease-in-out forwards!important; animation-delay: .5s!important;}

	.team .sec-2 .hldr-top ul { max-width: 100%!important;}
	.team .sec-2 .hldr-top ul li:nth-child(odd) { padding-right: 15px!important;}
	.team .sec-2 .hldr-top ul li:nth-child(even) { padding-left: 15px!important;}
	.team .sec-2 .hldr-top ul li .tog  {width: calc(100% - 15px)!important}
	.team .sec-2 .steps .body, .form-gray .form-sec .form-body, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr, .buyers-guide .sec-2 .hldr .ready-move .move-panel { padding: 30px!important;}

	.form-gray .form-sec .form-body .form-main-list li .one-third-part { width: 50%!important; margin-bottom: 25px!important;}
	.form-gray .form-sec .form-body .form-main-list li .one-third-part:last-of-type {margin-bottom: 0px!important;}
	.contact-us .sec-1 .contact-top p br{ display: none;}

	.accord .acc-body .content { padding: 30px 30px 130px!important;}
	.careers .sec-2 .hldr .form-career .accord-list li {margin-bottom: 25px!important;}

	.buyers-guide .sec-2 .hldr h3 { padding-bottom: 30px!important;}



}



@media only screen and (max-width: 800px){
	.prop-finder .btm .main-list > li:first-child ul li { width: 100%!important; padding-right: 0px!important; margin-bottom: 15px;}
	.prop-finder .btm .main-list > li:first-child ul li:last-child { margin-bottom: 0!important;}
	.prop-finder .btm .main-list > li:first-child ul li span { right: 0!important;}
	.prop-finder .btm .main-list > li:first-child ul li .ar-down { right: 14px!important;}
	.links .hldr .left, .links .hldr .right { max-width: 100%!important; padding-left: 0px!important; padding-right: 0px!important; float: none!important;} 
	.links { padding: 20px 0px!important;}
	.links .hldr .left { margin-bottom: 20px!important;}
	.about .sec-3 .slider-nav .slick-track { display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-flex-flow: row wrap;  justify-content: flex-start;  flex-wrap: wrap;}
	
	.home .sec-2 .list-hldr .main-list > li { width: 50%!important;}

	.team .sec-2 .hldr-top ul li  {width: 100%!important; padding-right: 0px!important; padding-bottom: 0px!important;}
	.team .sec-2 .hldr-top ul li:nth-child(odd)  {padding-right: 0px!important;}
	.team .sec-2 .hldr-top ul li:nth-child(even)  {padding-left: 0px!important;}
	.team .sec-2 .hldr-top ul li .tog { width: 100%!important; position: relative!important; top: -30px!important;}
	.team .sec-2 .hldr-top ul li .box{ height: auto!important;}
	.team .sec-2 .hldr-top p { max-width: 100%!important;}
	.team .sec-2 .hldr-top h3, .careers .sec-2 .hldr h3 span, .contact-us .sec-1 .contact-top h3, .team .sec-2 .steps .top h3, .careers .sec-2 .hldr h3, .buyers-guide .sec-2 .hldr h3 { font-size: 30px!important;}
	

	.team .sec-2 .steps .body .main-list > li > ul > li, .team .sec-2 .steps .body .main-list > li p, .careers .sec-2 .hldr .career-list li article p, .buyers-guide .sec-2 .hldr > ul > li .parent article p, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr p, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr .panel-mlist > li .panel-divider > ul > li > ul li { font-size: 18px!important;}

	.team .sec-2 .hldr-top p, .team .sec-2 .steps .body .main-list > li h4, .team .sec-2 .steps .body .appli-hldr h4, .team .sec-2 .steps .body .appli-hldr p, .team-inner .form-gray .form-sec .form-body .form-main-list li .parent.checkbox-hldr .children label, .team .sec-2 .steps .body .appli-hldr a, .contact-us .sec-1 .contact-top p, .accord .acc-title .title-center h4, .accord .acc-body .content .apply-now a { font-size: 18px!important;}

	.team .sec-2 .steps .body .main-list > li h4, .team .sec-2 .steps .body .appli-hldr h4 { line-height: 26px!important;}

	.form-gray .form-sec .form-btm .hldr { max-width: 100%!important;}
	.form-gray .form-sec .form-btm { padding: 0px 30px 30px!important;}
	.form-gray .form-submit input[type="submit"] { font-size: 18px!important;}
	.contact-us .sec-1 .contact-top { max-width: 100%!important;}

	.careers .sec-2 .hldr .career-list li { width: 50%!important;}

	.careers .sec-2 .hldr .career-list { margin-top: 35px!important;}
	.accord .acc-title .title-center h6 { position: relative!important; right: auto!important; top: 0!important; transform: translate(0, 0)!important; padding: 0px!important;}
	.accord .acc-title .title-center h4 { padding: 0px!important; margin-bottom: 5px;}
	.accord .acc-title { padding: 10px 20px 10px 64px!important;}
	.accord .acc-body .content .apply-now { padding: 10px 30px!important;}
	.accord .acc-body .content .fb-share {bottom: 61px!important; }
	.accord .acc-body .content { padding: 30px 30px 90px!important;}

	.buyers-guide .sec-2 .hldr > ul > li { padding: 30px 0px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .parent aside{ padding-left: 0px!important; margin: 0 auto 20px;}
	.buyers-guide .sec-2 .hldr > ul > li .parent article { width: 100%!important; padding-left: 0px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .parent article h4 { font-size: 20px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .parent article h6 { font-size: 18px!important; line-height: 26px;}
	.buyers-guide .sec-2 .hldr > ul > li .parent article p { line-height: 26px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .parent { margin-bottom: 0px!important;}
	.buyers-guide .sec-2 .hldr .ready-move .hldr { max-width: 100%!important;}
	.buyers-guide .sec-2 .hldr .ready-move { padding: 30px!important;}

}






/*MOBILE*/

@media only screen and (max-width: 600px){

	.cs-container, .container-3, footer .footer-wrap, .wrapper, .about .sec-3 .slider-nav .slick-list {padding: 0px 20px!important;}
	.about .sec-3 .slider-nav {padding: 10px 20px!important;}
	header .hldr article { display: none;}
	.burger  {bottom: auto!important; top: 50%; transform: translate(0, -50%);}
	header .nav-list { padding: 60px 20px!important;}


	/*FONTS change*/
	.home .sec-1 .hero h3  {font-size: 35px!important;}

	.home .sec-1 .hero h4 { font-size: 20px!important; line-height: 20px!important;}

	.sec-title, .about .sec-2 .hldr h3, .about .sec-2 .btm h3 { font-size: 25px!important;}

	.home .sec-3 .hldr .main-list > li .parent article h4 { font-size: 20px!important;}

	.home .sec-3 .hldr .main-list > li .parent article p, .home .sec-5 .hldr h3 + p, .home .sec-7 .testi-carousel .item .hldr article p, .about .sec-2 .hldr p, .about .sec-2 .btm p, .about .sec-3 .slider-for .item .hldr article p, .about .sec-4 .hldr p, .about .sec-6 .hldr p, .ne-list-sec .body .masonry > li .item p, .news-events-inner .sec-1 .hldr .content p, .news-events-inner .sec-1 .hldr > ul > li  {font-size: 16px!important; line-height: 26px!important;}

	.about .sec-3 .slider-nav .slick-slide h4 {font-size: 16px!important; padding: 10px 0px!important;}

	/*END OF FONTS CHANGE*/

	/*SECTION PADDING*/
	.home .sec-3, .home .sec-4, .home .sec-5, .home .sec-7, .home .sec-7, .about .sec-2, .about .sec-3 .top-part, .about .sec-4, .about .sec-6, .home .sec-2, .news-events-inner .sec-1, .team .sec-2, .team-inner, .contact-us .sec-1, .careers .sec-2, .careers-inner .sec-1, .buyers-guide .sec-2 { padding: 40px 0px!important;}
	.about .sec-6 { padding-top: 20px!important;}
	/*END OF SECTION PADDING*/


	.home .sec-1 .hero { padding: 0px 20px!important;}
	.prop-finder .btm .main-list > li:last-child, .prop-finder .btm .main-list > li:last-child input[type="submit"]  {width: 100%!important;}
	.home .sec-3 .hldr .main-list > li { width: 100%!important; margin-bottom: 50px!important;}
	.home .sec-3 .hldr .main-list > li:nth-child(odd) { padding-right: 0!important;}
	.home .sec-3 .hldr .main-list > li:nth-child(even) { padding-left: 0px!important;}

	.home .sec-4 .hldr article ul li:nth-child(odd) { padding-right: 0px!important;}
	.home .sec-4 .hldr article ul li:nth-child(even) { padding-left: 0px!important;}
	.home .sec-4 .hldr article ul li { width: 100%!important;}

	.links .hldr .cmn-class { text-align: left!important; padding: 10px 40px 10px 10px!important;}
	.links .hldr .cmn-class .arr-hldr { width: 35px!important;}
	.home .sec-5 .hldr .main-list li { width: 100%!important; margin-bottom: 40px!important;}
	.home .sec-5 .hldr .main-list li:nth-last-child(3) {margin-bottom: 40px!important;} 
	.home .sec-6 .tumulong-carousel .owl-dots, .about .sec-5 .misyon-carousel .owl-dots { position: relative!important; left: 0!important; bottom: 0!important; transform: translate(0, 0)!important; padding: 10px 0px;}

	footer .hldr .btm .main-list > li:nth-child(2), footer .hldr .btm .main-list > li:nth-child(3){ width: 50%!important; margin-bottom: 30px; padding: 0px!important;} 
	footer .hldr .btm .main-list > li:nth-child(2) { padding-right: 15px!important;}
	footer .hldr .btm .main-list > li:nth-child(3) { padding-left: 15px!important; border-right: 0px!important}
	footer .hldr .btm .main-list > li:last-child { width: 100%!important; padding: 0px!important;}
	footer .hldr .top { max-width: 100%!important; min-width: auto!important;}
	footer .hldr .top .parent input[type="submit"] { position: relative!important; top: 0!important; right: 0!important; width: 100%!important; margin-top: 15px;}
	.quote { margin: 20px 0px!important;}
	.about .sec-3 .slider-for .item .hldr article .block h4 {font-size: 40px!important;}
	.about .sec-3 .slider-for .item .hldr article .block {padding: 15px!important;}
	.about .sec-3 .slider-for .item .hldr aside .img-hldr { height: auto!important;}
		
	.home .sec-4 .hldr aside { height: auto!important; }
	.home .sec-4 .hldr aside { max-width: 100%!important;}
	.home .sec-4 .hldr aside img {height: auto!important}

	.home .sec-2 .list-hldr .main-list > li { width: 100%!important; margin-bottom: 30px!important;}
	.home .sec-2 .list-hldr .main-list > li .parent {display: block!important; }
	.home .sec-2 .list-hldr .main-list > li .parent aside img { margin: 0 auto 10px; display: block; max-width: 100%;}
	.home .sec-2 .list-hldr .main-list > li .parent article { text-align: center; padding-left: 0px!important;}
	.home .sec-2 .list-hldr .main-list > li:last-child { margin-bottom: 0px!important;}
	.home .sec-2 .list-hldr .main-list > li .parent article .count { padding: 5px 20px!important; font-size: 18px!important;}

	.ne-list-sec .body, .ne-list-sec .btm, .articles-sec .body, .promos-sec .body { padding: 20px 15px!important;}

	.ne-list-sec .body .masonry > li .item p { margin-bottom: 20px!important;}

	.ne-list-sec .btm .news-events-carousel .item aside { max-width: 100%!important; }
	.ne-list-sec .btm .news-events-carousel .item aside img { height: 100%!important; object-fit: cover!important;}
	.ne-list-sec .btm .news-events-carousel .item article { padding-left: 0px!important; padding-top: 10px; width: 100%!important;}

	.ne-list-sec .btm .news-events-carousel .item aside, .articles-sec .body .articles-carousel .item aside, .promos-sec .body .promos-carousel .item aside { height: 180px!important;}


	.ne-list-sec .btm .news-events-carousel .owl-nav .owl-prev  {background: url(../images/white-arrow-left.png) no-repeat!important; margin: 0px!important; top: 75px; left: 10px!important;}
	.ne-list-sec .btm .news-events-carousel .owl-nav .owl-next  {background: url(../images/white-arrow-right.png) no-repeat!important; margin: 0px!important; top: 75px; right: 10px!important;}


	.articles-sec .body .articles-carousel .owl-nav, .promos-sec .body .promos-carousel .owl-nav { top: 100px!important; transform: translate(0, 0)!important;}
	.articles-sec .body .articles-carousel .owl-nav .owl-prev, .promos-sec .body .promos-carousel .owl-nav .owl-prev {background: url(../images/white-arrow-left.png) no-repeat!important; margin: 0px!important; left: 10px!important}
	.articles-sec .body .articles-carousel .owl-nav .owl-next, .promos-sec .body .promos-carousel .owl-nav .owl-next {background: url(../images/white-arrow-right.png) no-repeat!important; margin: 0px!important; right: 10px!important}


	
	.ne-list-sec .btm .news-events-carousel, .articles-sec .body .articles-carousel, .promos-sec .body .promos-carousel { padding: 0px!important;}

	.ne-list-sec .top, .articles-sec .top, .promos-sec .top { padding: 10px 0px!important;}

	.promos-sec .body .promos-carousel .item article h4 { font-size: 18px!important;}

	a.rm-gray { padding: 10px 25px!important; font-size: 14px!important;}


	.news-events-inner .sec-1 .hldr > ul > li { width: 100%!important; padding-right: 0px!important; text-align: center;}
	.news-events-inner .sec-1 .hldr > ul > li::after { display: none!important;}

	.news-events-inner .sec-1 .hldr .btns-hldr .left ul li a, .news-events-inner .sec-1 .hldr .btns-hldr > div a { padding: 10px 30px!important; font-size: 14px!important;}

	.news-events-inner .sec-1 .hldr .btns-hldr .left, .news-events-inner .sec-1 .hldr .btns-hldr .right { float: none!important; text-align: center;}
	.news-events-inner .sec-1 .hldr .btns-hldr .left ul li { width: 100%!important; padding-right: 0px!important; margin-bottom: 15px; text-align: center;}

	.team .sec-2 .hldr-top { margin-bottom: 40px!important}

	.team .sec-2 .hldr-top ul li { margin-bottom: 15px!important;}

	.team .sec-2 .hldr-top ul li .tog .checkhldr { position: relative!important; left: 0!important; top: 0!important; transform: translate(0, 0)!important; margin: 0 auto 10px; }
	.team .sec-2 .hldr-top ul li .tog { padding: 10px 15px!important;}
	
	.team .sec-2 .hldr-top ul li .box aside { padding: 25px 15px 50px!important;}
	.team .sec-2 .steps .body .main-list > li > ul > li, .team .sec-2 .steps .body .main-list > li p, .careers .sec-2 .hldr .career-list li article p, .accord .acc-body .content ul li, .buyers-guide .sec-2 .hldr > ul > li .parent article p, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr p, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr .panel-mlist > li .panel-divider > ul > li > ul li { font-size: 16px!important;}

	.team .sec-2 .hldr-top p { margin-bottom: 35px!important;}
	.team .sec-2 .hldr-top h3, .careers .sec-2 .hldr h3 span, .contact-us .sec-1 .contact-top h3, .team .sec-2 .steps .top h3, .careers .sec-2 .hldr h3, .buyers-guide .sec-2 .hldr h3 { font-size: 25px!important;}
	.team .sec-2 .hldr-top h3 br { display: none;}
	.team .sec-2 .steps .top { padding: 10px 15px!important;}
	.team .sec-2 .steps .body, .form-gray .form-sec .form-body, .buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr, .buyers-guide .sec-2 .hldr .ready-move .move-panel { padding: 20px!important;}
	.team .sec-2 .steps .body .appli-hldr a { padding: 10px 40px!important;}

	.form-gray .form-sec .form-body .form-main-list li .children { width: 100%!important; margin-bottom: 25px!important;}
	.form-gray .form-sec .form-body .form-main-list li .children:last-of-type { margin-bottom: 0px!important;}
	.team-inner .form-gray .form-sec .form-body .form-main-list li .parent .for-photo {width: 100%!important; padding-right: 0px!important;}
	.team-inner .form-gray .form-sec .form-body .form-main-list li .phto-hldr { flex-direction: column-reverse;}
	.team-inner .form-gray .form-sec .form-body .form-main-list li .parent.checkbox-hldr .children { margin-bottom: 5px!important; width: auto!important;}
	.team-inner .form-gray .form-sec .form-body .form-main-list li .parent .photo-up { margin: 0 auto 20px;}


	.form-gray .form-sec .form-body .form-main-list h5 { font-size: 16px!important; margin-bottom: 5px!important;}

	.form-gray .form-sec .form-title { padding: 10px 15px!important;}
	.form-gray .form-sec .form-btm { padding: 0px 20px 20px!important;}
	.form-gray .form-submit input[type="submit"] { width: 100%!important;}

	.form-contact .policy-hldr li{width: 100%!important; margin-bottom: 15px; }
	.form-contact .policy-hldr li:last-child { margin-bottom: 0px;}
	.form-contact .policy-hldr li .agree--hldr { text-align: right;}
	.form-gray .form-sec .form-body .form-main-list select, .form-gray .form-sec .form-body .form-main-list input[type="email"], .form-gray .form-sec .form-body .form-main-list input[type="text"], .form-gray .form-sec .form-body .form-main-list input[type="password"], .form-gray .form-sec .form-body .form-main-list textarea { font-size: 16px!important;}


	.careers .sec-2 .hldr .career-list li { width: 100%!important; padding: 0px!important;} 
	.accord .acc-body .content { padding: 20px 20px 90px!important;}
	.accord .acc-body .content ul li { padding-left: 15px!important;}

	.form-gray .policy-hldr.careers li { width: 100%; margin-bottom: 15px!important; }
	.form-gray .policy-hldr.careers li:last-child { margin-bottom: 0px!important;}
	.form-gray .policy-hldr.careers li h5 { margin-bottom: 0!important;}
	.form-gray .policy-hldr li .agree--hldr { text-align: right;}
	.form-gray .form-sec .form-body .form-main-list .box-of-upload { padding: 12.5px 15px!important;}
	.form-gray .form-sec .form-body .form-main-list .box-of-upload button { position: relative!important; transform: translate(0, 0)!important; top: 0!important; left: 0!important}

	.form-gray .form-sec .form-body .form-main-list .box-of-upload { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: center; flex-wrap: wrap; flex-direction: column-reverse;}
	.form-gray .form-sec .form-body .form-main-list .place-holder { text-align: center;}
	.form-gray .form-sec .form-body .form-main-list .box-of-upload button { width: 100%!important; margin-top: 10px;}
	.form-gray .form-sec .form-body .form-main-list li { margin-bottom: 20px!important}
	.buyers-guide .sec-2 .hldr > ul > li .parent aside { width: 150px!important;}
	.buyers-guide .sec-2 .hldr .ready-move .hldr aside { max-width: 150px!important;}
	.buyers-guide .sec-2 .hldr .ready-move { padding: 20px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .btn-hldr button { max-width: 100%!important; margin-top: 20px;}
	.buyers-guide .sec-2 .hldr > ul > li { padding: 20px 0px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr .panel-mlist > li .title-hldr h4, .buyers-guide .sec-2 .hldr .ready-move .move-panel .panel-mlist > li .title-hldr h4 { min-width: auto!important;}

	.buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr .panel-mlist > li .panel-divider > ul > li h6, .buyers-guide .sec-2 .hldr .ready-move .move-panel .panel-mlist > li > h4 { font-size: 18px!important;}
	.buyers-guide .sec-2 .hldr > ul > li .panel-close .panel-hldr .panel-mlist > li .panel-divider > ul > li h6 + span { font-size: 16px!important;}
	.buyers-guide .sec-2 .hldr .ready-move .hldr a{ font-size: 18px!important; height: 40px!important;}
	.buyers-guide .sec-2 .hldr .ready-move .move-panel .panel-mlist > li .inner-list > li, .buyers-guide .sec-2 .hldr .ready-move .move-panel .panel-mlist > li > .alb-list > li > h5, .buyers-guide .sec-2 .hldr .ready-move .move-panel .panel-mlist > li p { font-size: 16px!important;}

}